GOOGLE_AI_API_KEY=your_api_key_here
SHOPLINE_ACCESS_TOKEN=your_shopline_access_token
SHOPLINE_STORE_DOMAIN=your_store_domain.myshopline.com
PORT=3001
SSL_KEY_PATH=../certs/key.pem
SSL_CERT_PATH=../certs/cert.pem
